body{
    background-color: rgb(39, 60, 122);
}

figure{
    background-color: rgb(52, 52, 147);
    color: rgb(149, 135, 85);
    font-size: x-large;
    text-align: center;
}

figure.available:hover{
    background-color: rgb(63, 63, 145);
}

.title{
    text-align: center;
    color: antiquewhite;
}

